/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2019, 3:46:49 PM
    Author     : rtbfl
*/

.h1Link .text {
    -fx-font: bold 24px 'serif';
}

.h2Link .text {
    -fx-font: bold 20px 'serif';
}

.h3Link .text {
    -fx-font: bold 16px 'serif';
}

.h4Link .text {
    -fx-font: bold 14px 'serif';
}

.h5Link .text {
    -fx-font: bold 12px 'serif';
}

.h6Link .text {
    -fx-font: 12px 'serif';
}

.strongLink .text {
    -fx-font: bold 20px 'serif';
}

#links:visited {
    -fx-text-fill: #33adcc;
    -fx-underline: false;
}

#links,
#links:visited:armed,
#links:hover:armed {
    -fx-text-fill:#33adcc; -fx-accent:#33adcc;
}
#links:hover,
#links:visited {
    -fx-text-fill: #33adcc; -fx-text-background-color:#33adcc;
}

#links:hover{
    -fx-underline: true;
}
